*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffbdbd;
}
.container{
    width: 31.25em;
    height: 31.25em;
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    top: -20%;
}
.squid{
    width: 18.75em;
    height: 18.75em;
    background: linear-gradient(#f60077, #f53e2f);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    animation: swim 3s infinite;
}
@keyframes swim {
    50%{
        transform: translateY(6.25em)
        scale(0.95);
    }
    
}
.squid::before{
    position: absolute;
    content: '';
    width: 2.5em;
    height: 2.5em;
    background: #cd0856;
    border-radius:50%;
    top: 11.25em;
    left: 3.75em;
    box-shadow: 8.75em 0 #cd0856;
}
.squid::after{
    position: absolute;
    content: '';
    width: 3.75em;
    height: 3.75em;
    background: #000;
    border: .62em solid #fff;
    border-radius: 50%;
    top: 7.5em;
    left: 3.75em;
    box-shadow: 6.25em 0 0 -0.62em #000, 6.25em 0 #fff;
}
.shine{
    position: absolute;
    border: 0.62em solid #fff;
    width: 6.25em;
    height: 3.75em;
    border-radius:50%;
    border-color: transparent;
    border-top-color: #fff;
    transform: rotate(-35deg);
    top: 2.5em;
    left: 2.5em;
}
.shine::before{
    position: absolute;
    content: '';
    width: 0.62em;
    height: 0.62em;
    background-color: #fff;
    border-radius:50%;
    top: 0.62em;
    left: -0.62em;
}
.shine::after{
    position: absolute;
    content: '';
    width: 3.75em;
    height: 3.75em;
    border: 0.62em solid #000;
    transform: rotate(35deg);
    border-radius:50%;
    border-color: transparent;
    border-bottom-color: #000;
    left: -1.25em;
    top: 7.5em;
}
.legs{
    width: 3.75em;
    height: 7.5em;
    background-color: #f53e2f;
    position: absolute;
    border-radius:3.12em;
    left: 7.5em;
    top: 16.87em;
    z-index: -1;
}
.legs::before,
.legs::after{
    position: absolute;
    content:'';
    height: 7.5em;
    width: 3.75em;
    background-color: #f53e2f;
    border-radius: 3.12em;
    border-radius: 3.12em;
    bottom: 0;
}
.legs::before{
    transform: rotate(-30deg);
    left: 3.12em;
}
.legs::after{
    transform: rotate(30deg);
    left: -3.12em;
}
@media screen and (min-width: 800px){
    .container{
        font-size: 1.2em;
    }
}
